<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snaply - URL Shortener</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
    .custom-header {
      font-weight: bold;
      color: #3359cc;
      text-align: left;
    }
    .btn-primary, .btn {
    background-color: #3359cc !important;
}
</style>
</head>

<body>
<main class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mt-5 mb-4 custom-header">Snaply - URL Shortener</h1>
            <form action="/generateShortLink" method="post">

                <div class="mb-1">
                    <h4>Paste the URL to be shortened</h4>
                    <input type="text" id="url" class="form-control form-control-lg" name="url" placeholder="https://www.google.co.in/">
                </div>

                <div class="d-grid gap-2 justify-content-center">
                    <input class="btn btn-primary" type="submit" value="Shorten URL">
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <br>
        <div class="col-md-6" th:if="${sh != null}">
            <p>
                Short URL: <a th:href="${sh.getShortLink()}" th:text="${sh.getShortLink()}"></a>
            </p>
            <p>
                Original URL: <a th:href="${sh.getOriginalUrl()}" th:text="${sh.getOriginalUrl()}"></a>
            </p>
            <h7>The short URL will automatically be deleted after three months</h7>
        </div>
    </div>



</main>
</body>
</html>